{%- set spine_as = 65001 %}
service routing protocols model multi-agent
!
router bgp 65001
   router-id 172.16.0.3
   maximum-paths 2 ecmp 2
   neighbor SPINE peer-group
   neighbor SPINE fall-over bfd
   neighbor SPINE remote-as 65001
   neighbor SPINE maximum-routes 12000 
   neighbor SPINE-EVPN-TRANSIT peer-group
   neighbor SPINE-EVPN-TRANSIT next-hop-unchanged
   neighbor SPINE-EVPN-TRANSIT update-source Loopback0
   neighbor SPINE-EVPN-TRANSIT ebgp-multihop
   neighbor SPINE-EVPN-TRANSIT send-community extended
   neighbor SPINE-EVPN-TRANSIT remote-as {{spine_as}}
   neighbor SPINE-EVPN-TRANSIT maximum-routes 0 
   neighbor 172.16.0.1 peer-group SPINE-EVPN-TRANSIT
   neighbor 172.16.0.2 peer-group SPINE-EVPN-TRANSIT
   neighbor 172.16.200.1 peer-group SPINE
   neighbor 172.16.200.17 peer-group SPINE
   redistribute connected
   !
   address-family evpn
      neighbor SPINE-EVPN-TRANSIT activate
   !
   address-family ipv4
      no neighbor SPINE-EVPN-TRANSIT activate
   !
   vrf vrf1
      rd 1.1.1.1:1001
      route-target import 1:1001
      route-target export 1:1001
      redistribute connected
      redistribute static
!
